* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.nav-bar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation a {
    text-decoration: none;
    color: #808080;
}
.facebook a {
    color: #3e5b99;
}
.twitter a {
    color: #1ea1f1;
}
.socials {
    display: flex;
}
.socials a, .navigation a {
    padding: 10px;
    margin: 5px;
}
.logo a {
    margin-left: 10px;
}
.header {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
.title {
    font-size: 40px;
    /*-webkit-text-stroke: 1px black;*/
}
.subtitle {
    font-size: 16px;
    /*-webkit-text-stroke: 1px gray;*/
}
.background-image {
    background: url('../images/burger-hero.jpg');
    background-size: cover;
    min-height: 600px;
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.subscribe-container, .job-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 20px 0;
}
.subscribe-text {
    text-align: center;
}
.subscribe-form, .job-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    border-radius: 5px;
    padding: 3px;
}
input[type='text'], input[type='email'], select, textarea {
    padding: 5px;
    width: 100%;
}
input[type='submit'] {
    background-color: #3173dd;
    color: white;
    padding: 8px 15px;
}
.label-input {
    margin: 20px;
    display: flex;
    align-items: center;
}
.work-history {
    margin-top: 20px;
    text-align: center;
}
.work {
    font-size: 18px;
}
.text-area {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 500px;
}
.availability {
    margin: 20px;
    font-size: 18px;
}
.check-box {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.check-box div:first-child {
    margin-right: 5px;
}
textarea {
    margin: 10px 0;
    resize: vertical;
    height: 100px;
}
.great-fit {
    margin-top: 20px;
}
.subscribe-title {
    font-size: 30px;
}
.subscribe-subtitle {
    font-size: 15px;
}
.left {
    width: 200px;
}
.right {
    width: 300px;
}
.burger-place {
    background: url('../images/umami.jpg');
    background-size: cover;
    min-height: 400px;
}
hr {
    width: 90%;
}
@media screen and (max-width: 900px) {
    .background-image {
        min-height: 400px;
        padding-left: 80px;
    }
    .title {
        font-size: 25px;
    }
    .subtitle {
        font-size: 10px;
    }
}
@media screen and (max-width: 600px) {
    .background-image {
        min-height: 250px;
        padding-left: 60px;
    }
    .title {
        font-size: 16px;
    }
    .subtitle {
        font-size: 8px;
    }
    .nav-bar {
        flex-direction: column;
        height: 100px;
    }
    input[type='submit'] {
        width: 100%;
    }
    .label-input {
        flex-direction: column;
        width: 90%;
    }
    .text-area {
        width: 90%;
    }
    .left, .right {
        width: 100%;
    }
}