.menu {
    width: 90%;
    margin: 40px auto;
}

.title {
    font-size: 35px;
    text-align: center;
    margin: 20px 0;
}

.underline {
    text-decoration: underline;
    font-size: 22px;
    margin: 10px 0;
}

.space {
    margin-bottom: 10px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    border: 1px solid #d3d3d3;
    padding: 5px;
    border-radius: 3px;
    width: 500px;
    margin: 20px 0;
    box-shadow: 5px 5px 7px -7px rgba(0,0,0,0.53);
}